<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="act" class="com.stackroute.domain.Actor">
        <property name="age" value="23"></property>
        <property name="gender" value="Male"></property>
        <property name="name" value="ajay"></property>
    </bean>
    <bean id="movie" class="com.stackroute.domain.Movie">
        <property  name="actor" ref="act">

        </property>
    </bean>
    </beans>